<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Utilisateurs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <%= render template: "layouts/styles" %>
    </head>
    <body>
        <%= render template: "layouts/header" %>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Utilisateurs</h1>
                <span>Liste des utilisateurs</span>
            </div>
        </div>
        <div id="app" class="container">
            <div class="row">
                <div class="col-md-2">
                    <p><a class="button_link" href="/user/add" ><button class="btn btn-primary btn-block">Ajouter</button></a></p>
                </div>
            </div>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                <tr>
                    <th>Identifiant</th>
                    <th>Nom complet</th>
                    <th>Date de création</th>
                    <th>Date de dernière modification</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                  <tr>
                      <td width="80"><%= user.login %></td>
                      <td><%= user.firstname %> <%= user.lastname %></td>
                      <td><%= user.createdAt.strftime("%d/%m/%Y %H:%M:%S") %></td>
                      <td><%= user.updatedAt.strftime("%d/%m/%Y %H:%M:%S") %></td>
                      <td width="170">
                          <a class="button_link" href="/user/edit?login=<%= user.login %>" ><button class="btn btn-info btn-sm">Modifier</button></a>
                          <a class="button_link" href="/user/edit?login=<%= user.login %>" ><button class="btn btn-danger btn-sm">Supprimer</button></a>
                      </td>
                  </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    <%= render template: "layouts/footer" %>